#vbox{
    -fx-background-color: white;
    -fx-background-radius: 120px;
    -fx-border-color: black;
    -fx-border-radius: 120px;
    -fx-border-width: 2px;
}

#button{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #007AFF;
    -fx-background-radius: 20px;
    -fx-padding: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: black;
    -fx-border-width: 2px;
}