#vbox{
    -fx-background-color: white;
    -fx-background-radius: 150px;
    -fx-border-color: black;
    -fx-border-radius: 150px;
    -fx-border-width: 2px;
}

#vendaLabel{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #1f77cd;
    -fx-padding: 8px;
}

#data{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: black;
}

#search{
    /*
    -fx-background-image: url("");
     */
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#scroll{
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#button{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-background-radius: 20px;
    -fx-padding: 12px;
}

#button-venda{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 12px;
}